 <!------------------------------------------------- single data view  -->
 <div class="container">
    <div class="row flex justify-content-center my-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-primary text-center text-white">
                    <div>
                        <a href="/" class="btn btn-warning w-100">Back</a> 
                    </div>
                    
                </div>
                <div class="card-body">
                    <h1 class="text-center"><%= singdata.name %> </h1>
                    <% if (singdata.photo == '6.jpg') { %>
                        <img class="card-img" src="/images/<%= singdata.photo %>" alt="">
                     <% } else { %>
                        <img class="card-img" src="/images/<%= singdata.photo %>" alt="">
                    <% } %>
                    <hr>
                    <p class="text-center h5">Age: <%= singdata.age %> </p>
                    <p class="text-center h5">Email: <%= singdata.email %> </p>
                    <p class="text-center h5">Skill: <%= singdata.skill %> </p>
                    <p class="text-center h5">Gender: <%= singdata.gender %> </p>
                </div>
              </div>
        </div>
    </div>
 </div>